.button {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 150px;
   width: 100%;
   padding: 13px;
   border-radius: 22px;
   background-color: #349cd9;
   font-size: 18px;
   line-height: 18px;
   color: #fff;
   cursor: pointer;
   transition: all 0.3s ease;

   @include hover {
      background-color: rgba(#349cd9, 0.85);
   }
}